<nav>
  <div class="container">
    <div class="content">
      <h2 class="logo">Market</h2>
      <div style="display:flex ; width: 100% ;justify-content:space-between ;">

        <ul>
          <li *ngIf="!isAuthenticated" routerLink="/auth">Authenticate</li>
          <ng-container *ngIf="!isAdmin">
            <li   routerLink="/">Products</li>
            <li *ngIf="isAuthenticated" routerLink="/cart">Cart</li>
            <li *ngIf="isAuthenticated" routerLink="/UserOrders"> My Orders</li>
          </ng-container>
          <ng-container *ngIf="isAdmin">

            <li *ngIf="isAuthenticated" routerLink="/productAdmin">Manage Products</li>
            <li *ngIf="isAuthenticated" routerLink="/categores">Categores</li>
          </ng-container>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="isAuthenticated" ><a (click)="onLogOut()">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
