<nav>
  <div class="container">
    <div class="content">
      <h2 class="logo">Market</h2>
      <div style="display:flex ; width: 100% ;justify-content:space-between ;">

        <ul>
          <li *ngIf="!isAuthenticated" routerLink="/auth">Authenticate</li>
          <li  *ngIf="!isAuthenticated||isAuthenticated&&!isAdmin"  routerLink="/">Products</li>

          <ng-container *ngIf="!isAdmin&&isAuthenticated">
            <li  routerLink="/cart">Cart</li>
            <li  routerLink="/UserOrders"> My Orders</li>
          </ng-container>
          <ng-container *ngIf="isAdmin&&isAuthenticated">

            <li  routerLink="/productAdmin">Manage Products</li>
            <li  routerLink="/categores">Categores</li>
          </ng-container>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="isAuthenticated" ><a (click)="onLogOut()">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
