
<div  class="row mt-2 ">
  <div class="col-xs-12 col-md-6 offset-md-3">
    <!-- <div class="alert alert-danger" *ngIf="LogInerror">
      <p>{{LogInerror}}</p>
    </div> -->
    <div style="text-align:center ;" >

    </div>
    <form [formGroup]="categoryForm"  (ngSubmit)="onFormSubmit()">

      <div class="form-group mt-3">
        <label for="userName">Category Name</label>
        <input type="text"

          class="form-control"


          formControlName="name"
        />
        <span class="help-block text-danger" *ngIf="!categoryForm.get('name')?.valid && categoryForm.get('name')?.touched" >
          this feild Required And Must be English letter Only
        </span>
      </div>

      <div class="form-group mt-3">
        <label for="parentCategory"> Parent Category</label>
        <select
          class="form-control"


          formControlName="parentCategoryId"

          >
          <ng-container  *ngFor="let cat of categoryes">
            <option *ngIf="cat.id!==categoryEditId" value="{{cat.id}}">{{cat.name}}</option>
          </ng-container>
        </select>

      </div>

      <div class="mt-4" >
        <button
          class="btn btn-primary "
          type="submit"
          [disabled]="!categoryForm.valid"
        >Supmit</button> |

        <button class="btn btn-primary" type="button" (click)="onclose()">Cancel</button>
      </div>
    </form>
  </div>
</div>
