<div class="row ">

  <app-language-slider></app-language-slider>

  <div class="col-xs-12 col-md-6 offset-md-3">
    <h1>{{ "ORDER_CRADENTIAL" | translate}}</h1>

    <div style="text-align:center ;" >
    </div>
    <form  #creatOrderForm="ngForm" >

      <!-- <div class="form-group ">
        <label for="date">{{ "DELIVER_DATE" | translate}}</label>
        <input type="date"
          id="date"
          class="form-control"
          required
          ngModel
          name="date"
        />
      </div> -->

      <div class="form-group mt-3">
        <label for="address">{{ "ADDRESS" | translate}}</label>
        <input
          type="address"
          id="address"
          class="form-control"
          required
          ngModel
          name="address"

        />
      </div>
      <div class="form-group mt-3">
        <label for="paymentMethod">{{ "PAYMENT_METHOD" | translate}}</label>
        <select class=" form-control" required ngModel name="paymentMethod" id="paymentMethod">
          <option value="0">{{ "VISA" | translate}}</option>
          <option value="1">{{ "ON_DELIVER" | translate}}</option>
        </select>
      </div>

      <div class="mt-4" >
        <button
          class="btn btn-primary "
          type="submit"
          [disabled]="!creatOrderForm.valid"
          (click)="onOrderSubmit(creatOrderForm)"
        >{{ "MAKE_ORDER" | translate}}</button> |

        <button class="btn btn-primary" (click)="onClose(creatOrderForm)" type="button" >{{ "CANCEL" | translate}}</button>
      </div>
    </form>
  </div>
</div>
