<div class="container">
  <div class="row mt-5">
    <div class="col-xs-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2">
      <form [formGroup]="productForm"  (ngSubmit)="onSubmit()">


        <div class="form-group  mt-3">
          <img *ngIf="edit"  src="{{data.photo}}" alt=""><br>
          <label for="Photo">Photo</label>
          <input
          type="file"
          id="Photo"

          class="form-control"
          (change)="uploadPhoto($event.target)"
          >

            <label *ngIf="ImageStatus== UploadImageStatus.success">Success</label>
            <label *ngIf="ImageStatus== UploadImageStatus.pending">Waiting For Image</label>
            <label *ngIf="ImageStatus== UploadImageStatus.fail">Fail To Upload</label>

        </div>

        <div style="display:flex ; justify-content:space-between ;">

          <div class="form-group col-5 mt-3" style="display:inline-block ;">
            <label for="Ename"> English Name</label>
            <input
            class="form-control"

              formControlName="englishName"
              type="text"
              id="Ename"
            >
            <span class="help-block text-danger" *ngIf="!productForm.get('englishName')?.valid&&productForm.get('englishName')?.touched" >
              this feild Must be English letter Only
            </span>
          </div>

          <div class="form-group col-5 mt-3" style="display:inline-block ;">
            <label for="AName">Arapic Name</label>
            <input
            class="form-control"
              type="text"
              id="AName"
              formControlName="arabicName"
            >
            <span class="help-block text-danger" *ngIf="!productForm.get('arabicName')?.valid&&productForm.get('arabicName')?.touched" >
              this feild Must be Arabic letter Only
            </span>
          </div>

        </div>

        <div style="display:flex ; justify-content:space-between ;">

          <div class="form-group col-5  mt-3">
            <label for="Category">Category</label>
            <select
            class="form-control"
            formControlName="category"

            >
              <option *ngFor="let item of categoryes" value="{{item.id}}">{{item.name}}</option>
            </select>
            <span class="help-block text-danger" *ngIf="!productForm.get('category')?.valid&&productForm.get('category')?.touched" >
              this feild is Required
            </span>
          </div>

          <div class="form-group col-5 mt-3">
            <label for="Vendor">Vendor</label>
            <select
            class="form-control"
            formControlName="Vendor"
            >
              <option  *ngFor="let item of vendors" value="{{item.id}}">{{item.name}}</option>
            </select>
            <span class="help-block text-danger" *ngIf="!productForm.get('Vendor')?.valid&&productForm.get('Vendor')?.touched" >
              this feild is Required
            </span>
          </div>

        </div>
        <div style="display:flex ; justify-content:space-between ;">

          <div class="form-group col-5 mt-3">
            <label for="Quantity">Quantity</label>
            <input
              class="form-control"
              formControlName="quantity"
              type="number"
              id="Quantity"
            >
            <span class="help-block text-danger" *ngIf="!productForm.get('quantity')?.valid&&productForm.get('quantity')?.touched" >
              Quantity Must be between 1 to 100000
            </span>

          </div>

          <div class="form-group col-5 mt-3">
            <label for="Price">Price</label>
            <input
              class="form-control"
              formControlName="price"
              type="number"
              id="Price"
            >
            <span class="help-block text-danger" *ngIf="!productForm.get('price')?.valid&&productForm.get('price')?.touched" >
              Quantity Must be between 1 to 10000
            </span>

          </div>

        </div>
        <div class="form-group mt-3">
          <label for="Description">Description</label>
          <input
            class="form-control"
            formControlName="description"
            type="text"
            id="Description"
          >
          <span class="help-block text-danger" *ngIf="!productForm.get('description')?.valid&&productForm.get('description')?.touched" >this feild is Required</span>
        </div >
        <div  class="form-group mt-5 btns">
          <button class="btn btn-primary" [disabled]="!productForm.valid || (this.ImageStatus!== UploadImageStatus.success && !edit)"  type="submit" >Submit</button>
          <button class="btn btn-success" (click)="onClose()" type="button" >Cancel</button>
        </div>

      </form>
    </div>
  </div>
</div>

