<div class="container">
  <div class="row mt-5">
    <app-language-slider></app-language-slider>
    <div class="col-xs-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2">
      <form [formGroup]="productForm"  (ngSubmit)="onSubmit()">


        <div class="form-group  mt-3">
          <img *ngIf="!!photoSrc"  src="{{photoSrc}}" alt=""><br>
          <label for="Photo">{{"PHOTO" | translate}}</label>
          <input
          type="file"
          id="Photo"

          class="form-control"
          (change)="uploadPhoto($event.target)"
          >

            <label *ngIf="ImageStatus== UploadImageStatus.success">
              {{"SUCCESS" | translate}}
            </label>
            <label *ngIf="ImageStatus== UploadImageStatus.pending">
              {{"WAITING_FOR_IMAGE" | translate}}
            </label>
            <label *ngIf="ImageStatus== UploadImageStatus.fail">
              {{"FAIL_TO_UPLOAD" | translate}}
            </label>

        </div>

        <div style="display:flex ; justify-content:space-between ;">

          <div class="form-group col-5 mt-3" style="display:inline-block ;">
            <label for="Ename">{{"E_NAME" | translate}}</label>
            <input
            class="form-control"

              formControlName="englishName"
              type="text"
              id="Ename"
            >
            <span class="help-block text-danger" *ngIf="!productForm.get('englishName')?.valid&&productForm.get('englishName')?.touched" >
              {{"E_NAME_ERROR" | translate}}
            </span>
          </div>

          <div class="form-group col-5 mt-3" style="display:inline-block ;">
            <label for="AName">{{"A_NAME" | translate}}</label>
            <input
            class="form-control"
              type="text"
              id="AName"
              formControlName="arabicName"
            >
            <span class="help-block text-danger" *ngIf="!productForm.get('arabicName')?.valid&&productForm.get('arabicName')?.touched" >
              {{"A_NAME_ERROR" | translate}}
            </span>
          </div>

        </div>

        <div style="display:flex ; justify-content:space-between ;">

          <div class="form-group col-5  mt-3">
            <label for="Category">{{"CATEGORY" | translate}}</label>
            <select
            class="form-control"
            formControlName="category"

            >
              <option *ngFor="let item of categoryes" value="{{item.id}}">{{item.name}}</option>
            </select>
            <span class="help-block text-danger" *ngIf="!productForm.get('category')?.valid&&productForm.get('category')?.touched" >
              {{"REQUIRE_ERROR" | translate}}
            </span>
          </div>

          <div class="form-group col-5 mt-3">
            <label for="Vendor">{{"VENDOR" | translate}}</label>
            <select
            class="form-control"
            formControlName="Vendor"
            >
              <option  *ngFor="let item of vendors" value="{{item.id}}">{{item.name}}</option>
            </select>
            <span class="help-block text-danger" *ngIf="!productForm.get('Vendor')?.valid&&productForm.get('Vendor')?.touched" >
              {{"REQUIRE_ERROR" | translate}}
            </span>
          </div>

        </div>
        <div style="display:flex ; justify-content:space-between ;">

          <div class="form-group col-5 mt-3">
            <label for="Quantity">{{"QUANTITY" | translate}}</label>
            <input
              class="form-control"
              formControlName="quantity"
              type="number"
              id="Quantity"
            >
            <span class="help-block text-danger" *ngIf="!productForm.get('quantity')?.valid&&productForm.get('quantity')?.touched" >
              {{"QUANTITY_ERROR" | translate}}
            </span>

          </div>

          <div class="form-group col-5 mt-3">
            <label for="Price">{{"PRICE" | translate}}</label>
            <input
              class="form-control"
              formControlName="price"
              type="number"
              id="Price"
            >
            <span class="help-block text-danger" *ngIf="!productForm.get('price')?.valid&&productForm.get('price')?.touched" >
              {{"PRICE_ERROR" | translate}}
            </span>

          </div>

        </div>
        <div class="form-group mt-3">
          <label for="Description">{{"DESCRIPTION" | translate}}</label>
          <input
            class="form-control"
            formControlName="description"
            type="text"
            id="Description"
          >
          <span class="help-block text-danger"
           *ngIf="!productForm.get('description')?.valid&&productForm.get('description')?.touched" >
           {{"REQUIRE_ERROR" | translate}}
          </span>
        </div >
        <div  class="form-group mt-5 btns">
          <button class="btn btn-primary" [disabled]="!productForm.valid || (this.ImageStatus!== UploadImageStatus.success && !edit)"  type="submit" >{{"SUBMIT" | translate}}</button>
          <button class="btn btn-success" (click)="onClose()" type="button" >{{"CANCEL" | translate}}</button>
        </div>

      </form>
    </div>
  </div>
</div>

